<!--[* $Id$ *]-->
<div id="page_margins" class="<!--[bt_htmloutput section='classespage']-->">
	<div id="page" class="<!--[bt_htmloutput section='classesinnerpage']-->">

		<!-- begin: #header -->
		<div id="header" class="floatbox">
			<div id="topnav">
				<!-- start: skip link navigation -->
				<a class="skip" href="#navigation" title="<!--[pnml name='_AB_SKIPLINK']-->"><!--[pnml name='_AB_SKIPTO_NAVIGATION']--></a><span class="hideme">.</span>
				<a class="skip" href="#content" title="<!--[pnml name='_AB_SKIPLINK']-->"><!--[pnml name='_AB_SKIPTO_CONTENT']--></a><span class="hideme">.</span>
				<!-- end: skip link navigation -->

				<!--[*
				 | <a href="#"><!--[pnml name='_AB_LANGDEFINE']--></a>
				 | <a href="#"><!--[pnml name='_AB_LANGDEFINE']--></a>
				*]-->
				<!--[userlinks start='' end='&nbsp;']-->
				<!--[bt_htmloutput section='fontresize']-->
			</div>
			<a href="<!--[$baseurl]-->"><!--[pnimg src='logo.png' class='logo' alt='logo']--></a>
			<h1><a href="<!--[$baseurl]-->" title="<!--[pnml name='_AB_GOTOHOMEPAGE']-->"><!--[sitename]--></a></h1>
			<span class="slogan"><!--[slogan]--></span>
		</div>
		<!-- end: #header -->

		<!-- begin: main navigation #nav -->
		<div id="nav">
			<!-- skiplink anchor: navigation -->
			<a id="navigation" name="navigation"></a>
			<!--[if $usenavtop eq 'b']-->
				<!--[blockposition name='navtop']-->
			<!--[else]-->
				<!--[bt_userlinks]-->
			<!--[/if]-->
		</div>
		<!-- end: main navigation -->

		<!-- begin: main content area #main -->
		<div id="main">
			<!-- skiplink anchor: Content -->
			<a id="content"></a>
			<div class="subcolumns">
				<div class="c62l">
					<div id="col1_content">
						<!--[if $layout|checkzone:nc ne true]-->
							<!--[blockposition name='center']-->
						<!--[/if]-->

						<!--[$maincontent]-->
					</div>
				</div>
				<div class="c38r">
					<!--[if $layout|checklayout:123 OR $layout|checklayout:132]-->
					<div class="subcolumns">
						<div class="c50l">
							<div id="col2_content">
							<!--[if $layout|checklayout:123]-->
								<!--[blockposition name='left']-->
							<!--[else]-->
								<!--[blockposition name='right']-->
							<!--[/if]-->
							</div>
						</div>
						<div class="c50r">
							<div id="col3_content">
							<!--[if $layout|checklayout:123]-->
								<!--[blockposition name='right']-->
							<!--[else]-->
								<!--[blockposition name='left']-->
							<!--[/if]-->
							</div>
						</div>
					</div>
					<!--[else]-->
					<div class="subcr">
					<!--[if $layout|checklayout:12]-->
						<!--[blockposition name='right']-->
					<!--[elseif $layout|checklayout:13]-->
						<!--[blockposition name='left']-->
					<!--[/if]-->
					</div>
					<!--[/if]-->
				</div>
			</div>

			<!--[if $layout|checkzone:3b]-->
			<div id="bt_3b" class="bt_zone subcolumns coolsubcol">
				<div class="c33l">
					<div class="subcl">
						<!--[blockposition name='bottoml']-->
					</div>
				</div>
				<div class="c33l">
					<div class="subc">
						<!--[blockposition name='bottomc']-->
					</div>
				</div>
				<div class="c33r">
					<div class="subcr">
						<!--[blockposition name='bottomr']-->
					</div>
				</div>
			</div>
			<!--[/if]-->
		</div>
		<!-- end: #main -->

		<!-- begin: #footer -->
		<div id="footer">
			<!--[include file='footer.htm']-->
		</div>
		<!-- end: #footer -->

	</div>
<!--[*
<div>
<!--[nocache]--><!--[pagerendertime]--><!--[/nocache]-->
<!--[nocache]--><!--[sqldebug]--><!--[/nocache]-->
</div>
*]-->
</div>
