<!--[* $Id$ *]-->
<!--[* commented out config override *]-->
<!--[* control this values from the themevariables.ini or remove the asterisks *]-->
<!--[* assign var='body'     value='grid' *]-->
<!--[* assign var='layout'   value='123_nc' *]-->

<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->" dir="<!--[langdirection]-->">
<!--[include file='head.htm']-->

<!-- Master template -->
<body id="bt_<!--[$module]-->" class="<!--[bt_htmloutput section='classesbody']-->">
<!--[include file="body/$body.htm"]-->
</body>
</html>
