<!--[* $Id$ *]-->
<!--[* config override *]-->
<!--[ assign var='current'  value='home' ]-->
<!--[ assign var='base' value='grid' ]-->
<!--[ assign var='layout'   value='123_3b' ]-->

<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<!--[include file='head.htm']-->
</head>

<!-- Home template -->
<body id="bt_<!--[$module]-->" class="<!--[bt_htmloutput section='classesbody']-->">
<!--[include file="base/$base.htm"]-->
</body>
</html>
