<!--[* $Id$ *]-->
<!--[* config override *]-->
<!--[ assign var='current'  value='master' ]-->
<!--[ assign var='template' value='2col' ]-->
<!--[ assign var='layout'   value='1' ]-->

<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<!--[include file='head.htm']-->
</head>

<!-- NoColumns template -->
<body id="bt_<!--[$module]-->" class="<!--[bt_htmloutput section='classesbody']-->">
<!--[include file="base/$template.htm"]-->
</body>
</html>
