@charset "UTF-8";
/* "Yet Another Multicolumn Layout" v3.2 (c) by Alexander Hass, Dirk Jesse (http://www.yaml.de)
* $Revision: 430 $ $Date: 2009-10-27 18:15:57 -0200 (mar 27 de oct de 2009) $ */
@media all
{
#nav{direction:ltr}
#nav *{direction:rtl}
}